@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'lato';
  src: url('/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'latolight';
  src: url('/fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'latobold';
  src: url('/fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'eastmanromanblack';
  src: url('/fonts/EastmanRomanTrial-Black.otf');
}



.textureFooter{
	background-image:  linear-gradient(30deg, #C6C8DE 12%, transparent 12.5%, transparent 87%, #C6C8DE 87.5%, #C6C8DE), linear-gradient(150deg, #C6C8DE 12%, transparent 12.5%, transparent 87%, #C6C8DE 87.5%, #C6C8DE), linear-gradient(30deg, #C6C8DE 12%, transparent 12.5%, transparent 87%, #C6C8DE 87.5%, #C6C8DE), linear-gradient(150deg, #C6C8DE 12%, transparent 12.5%, transparent 87%, #C6C8DE 87.5%, #C6C8DE), linear-gradient(60deg, #C6C8DE80 25%, transparent 25.5%, transparent 75%, #C6C8DE80 75%, #C6C8DE80), linear-gradient(60deg, #C6C8DE80 25%, transparent 25.5%, transparent 75%, #C6C8DE80 75%, #C6C8DE80);
	background-size: 200px 350px;
	background-position: 0 0, 0 0, 100px 175px, 100px 175px, 0 0, 100px 175px;
	background-color: #CCCEE4;
}

.gradient{
  mask-image: linear-gradient(90deg, rgba(0,0,0,1) 80%, transparent);
}
  
.textShadow{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.textShadowWhite{
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
}
.textShadowBold{
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.textBorder {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000b7a;
}

.top2 {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 70px),0 100%);
}
.bottom2 {
  clip-path: polygon(0 70px,100% 0,100% 100%,0 100%);
  margin-top: -60px;
}

.topCustomer {
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 80px));
  }
  .bottomCustomer {
    clip-path: polygon(0 0,100% 80px,100% 100%,0 100%);
    margin-top: -80px;
  }

  .top2 {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 80px),0 100%);
  }

  @media (min-width: 1px) and (max-width: 768px)  { 

    .textBorder {
      -webkit-text-stroke-width: 2px;
    }
    .gradient{
      mask-image: linear-gradient(90deg, rgba(0,0,0,1) 100%, transparent);
    }
  }